*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: #ece6e6;
}

.importante{
    font-weight: bold;
    text-decoration: underline;
}
#contenedor-marcas {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;

    img{
        max-width:250px;
        margin: 0px 20px;
        box-shadow: 5px 5px 10px 5px #0000001d;
        border-radius: 3px;
        border: 1px solid #0000001d;

    }
}
#seccion-marcas{
    height: 100vh;
    background-image: url("img/background1.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    }

#seccion-nosotros{
    h2{
        color: #676767;
    }
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    color: #676767;
    background-image: url("img/background2.png");
    background-position: center;
    background-size: cover;

    >.contenedor-chico /* >. indica que contenedor chico es hijo de seccion nosotros*/
    {
        width: 1200px;
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 40px 0px;
        >div
        {
            flex:1;
            *{
                margin: 10px 0px;
            }
        }
        hr{
            width: 20%;
        }
    }
    img{
        width: 100%;
        box-shadow: 40px 40px #4e5c53;
        border-radius: 3px;
        /*margin-left: 20px;*/

    }
    
}
#seccion-fundacion
{
    background-color:#91b7c2;
    >img
        {
            display: block;
            margin: auto;
            width: 300px;
        }
    .contenedor-chico
        {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
    .izquierda
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 20px;
            width: 50%;
            img /*"<"esto no va porque es inmediato y no hay nada inmediato, esta en card img , por eso no agarraba las modificaciones de la imagen*/
            {
                width: 300px;
            }
        }
    .derecha
    {
        background-image: filter(url("img/fundacion.png"), brightness(0.5));
        background-image: url("img/fundacion.png");
        background-position: center;
        background-size: cover;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 80px 20px;
    }
    article
        {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px; /*para que los elementos tengan un espacio entre ellos; evitamos poner margin a c/u*/
        }
    
    #otras-noticias-container
        {
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            color: rgb(220, 220, 220);
            div
                {
                    margin-top: auto;
                    &.active
                        {
                            color:white
                        }
                }
        }
}

#seccion-contacto
{
    background-color: #28373c;
    .contenedor-chico>div
    {
        
        display: flex;
        flex-direction: row;
        gap: 20px;
        >*{
            flex:1;

            }
    }
    #mapa
    {
        width: 100%;
    }
    form
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #contacto-detalle:hover
    {
        background-color: #304147;
        transition: ease-in-out 100ms;
        
    }
}

.contenedor-chico
{
    width: 900px;
    margin: auto;
}
.card
{
   /* width: 200%;  */
   text-align: center;
   background-color: #28373c;
   padding: 20px;
   margin: 20px;
}
footer {
    background-color: #2d373d;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 30px;
    align-items: center;
    div{
        margin-top: 20px;
        width: 950px;
        align-items: center;
    img{
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
}
.texto-invertido{
    color: white;
}
.boton
{

    background-color: #91b7c2;
    border-radius: 3px;
    border: none;
    

}
